.rv-input {
  background: #fff;
  border-radius: 16px;
  border-color: #AAAA;
  border: 10px, black;
  width: 100%;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
